<footer class="page-footer">
    <div class="container">
        <div class="links">&copy;Anish</div>
        <div class="links"><a href="#">About me</a><a href="#">Contact me</a></div>
    </div>
</footer>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="assets/js/theme.js"></script>
</body>

</html>